!!! 5
%html
  %head
    %title= [@page_title, settings.blog_title].compact.join(" | ")
    %link{href: '/schreihals.css', media: "screen", rel: "stylesheet", type: "text/css"}
    %link{ href: '/atom.xml', title: "Subscribe via Atom Feed", rel: 'alternate', type: 'application/atom+xml' }
  %body
    %header
      .container
        %h1
          = link_to settings.blog_title, '/'

    = yield

    %footer
      .container
        ~ markdown settings.footer

    - if production? && settings.google_analytics_id.present?
      = partial 'google_analytics'
    - if production? && settings.gauges_id.present?
      = partial 'gauges'
