<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if single_post %}{{ single_post.title }} |{% endif %}
      {{ blog.title }}
    </title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link href='/assets/schnitzelpress.1332747656.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/feed' rel='alternate' title='Subscribe via Atom Feed' type='application/atom+xml' />
  </head>

  <body>
    <div class='container'>
      <header>
        <div class='site-title'>
          <a href='/'>{{ blog.title }}</a>
        </div>
        {{ blog.description }}
      </header>

      <div class='admin_only' id='actions'>
        {% if single_post %}
          <a href='/admin/edit/{{ single_post.id }}'>Edit</a>
        {% endif %}
        <a href='/admin/'>Go To Admin</a>
        <a href='/logout'>Logout</a>
      </div>

      <section class="posts">
        {% for post in posts %}
          <article class='article {{ post.type }} {{ post.status }}'>
            <header>
              <h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>
            </header>

            {{ post.body }}

            <footer>
              <p class='permalink'>
                <a href='{{ post.url }}'>{{ post.published_at | date: "%Y-%m-%d" }}</a>
              </p>

              {% if single_post %}
                <div class='social_media_buttons'>
                  <a class='twitter-share-button' data-via='hmans' href='https://twitter.com/share'></a>
                  <script type='text/javascript'>
                    //<![CDATA[
                      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    //]]>
                  </script>
                </div>
              {% endif %}

            </footer>
          </article>
        {% endfor %}

        {% if previous_page_url %}
          <footer>
            <a class="button" href="{{ previous_page_url }}">View Older Posts</a>
          </footer>
        {% endif %}
      </section>

      <footer>
        {{ blog.footer }}
      </footer>
    </div>

    {{ javascripts }}
  </body>
</html>
