<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if single_post %}{{ single_post.title }} |{% endif %}
      {{ blog.title }}
    </title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link href='/assets/theme.1332747656.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/feed' rel='alternate' title='Subscribe via Atom Feed' type='application/atom+xml' />
  </head>

  <body>
    <div class='container'>
      <header>
        <div class='site-title'>
          <a href='/'>{{ blog.title }}</a>
        </div>
        {{ blog.description }}
      </header>

      <div class='admin_only' id='actions'>
        {% if single_post %}
          <a href='/admin/edit/{{ single_post.id }}'><span class="font-awesome">&#xf044;</span> Edit</a>
        {% endif %}
        <a href='/admin/'><span class="font-awesome">&#xf013;</span> Go To Admin</a>
        <a href='/logout'><span class="font-awesome">&#xf08b;</span> Logout</a>
      </div>

      <section class="posts">
        {% for post in posts %}
          <article class='article {{ post.type }} {{ post.status }}'>
            <header>
              <h1>
                <a class="instapaper_title" href='{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}'>{{ post.title }}</a>
                {% if post.link %}<span class='link-arrow'>&rarr;</span>{% endif %}
              </h1>
            </header>

            <div class="instapaper_body">
              {{ post.body }}
            </div>

            <footer>
              <p class='permalink'>
                <a href='{{ post.url }}'>{{ post.published_at | date: "%Y-%m-%d" }}</a>
              </p>

              {% if single_post %}
                <div class='social_media_buttons'>
                  <a class='twitter-share-button' data-via='hmans' href='https://twitter.com/share'></a>
                  <script type='text/javascript'>
                    //<![CDATA[
                      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    //]]>
                  </script>
                </div>
              {% endif %}
            </footer>
          </article>

          {% if single_post and blog.disqus_id and post.disqus %}
            <section class="disqus">
              <div id="disqus_thread"></div>

              <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '{{ blog.disqus_id }}';
                {% if development %}
                  var disqus_developer = 1;
                {% endif %}
                var disqus_identifier = '{{ post.disqus_identifier }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>

              <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
              </noscript>
            </section>
          {% endif %}
        {% endfor %}

        {% if previous_page_url %}
          <footer>
            <a class="button" href="{{ previous_page_url }}">View Older Posts</a>
          </footer>
        {% endif %}
      </section>

      <footer>
        {{ blog.footer }}
      </footer>
    </div>

    {{ javascripts }}
  </body>
</html>
