%section
  %h2 Administration
  %p
    You're logged in as #{session[:user]}.
  %ul.admin
    %li= link_to "Create new Post", '/admin/new'
    %li= link_to "Logout", '/logout'

  = partial "admin_post_list", posts: @drafts, title: "Drafts"
  = partial "admin_post_list", posts: @posts,  title: "Published Posts"
  = partial "admin_post_list", posts: @pages,  title: "Pages"
