%section
  %h1 #{icon 'cog'} Administration
  %p
    You're logged in as #{session[:auth][:uid]}.
  %p
    %a.green.button{:href => '/admin/new'} Create new Post or Page
    %a.blue.button{:href => '/admin/config'} Configuration
    %a.red.button{:href => '/logout'} Logout

  = partial "admin_post_list", :posts => @drafts, :title => "Drafts"
  = partial "admin_post_list", :posts => @posts,  :title => "Published Posts"
  = partial "admin_post_list", :posts => @pages,  :title => "Pages"
