- if posts.any?
  %h2= title
  .admin-post-list
    - posts.each do |post|
      .row
        .ten.columns
          %a{:href => post.to_url}= h (post.title || ("%s..." % post.body.first(50)))
        .two.columns.icons
          %a{:href => url_for(post)}= icon 'eye-open'
          %a{:href => "/admin/edit/#{post.id}"}= icon 'edit'
          %a{:href => url_for(post)}= icon 'trash'
