- if posts.any?
  %h2= title
  %ul.admin-post-list
    - posts.each do |post|
      %ul.admin
        %li= link_to "edit", "/admin/edit/#{post.id}"
        %li= link_to "view", url_for(post)
        %li= post.title
