- complete       ||= false
- show_title     ||= post.title.present?
- show_summary   ||= post.summary.present?
- show_body      ||= complete || !show_summary
- show_read_more ||= !complete && post.summary.present?
- show_permalink ||= post.post? && !show_read_more
- show_twitter   ||= complete && post.post? && settings.twitter_id.present?

%article.post{class: post.status}
  %header
    - if show_title
      .title
        %h1
          %a{href: post.link.present? ? post.link : post.to_url}
            = post.title
            = "→" if post.link.present?
        - if post.link.present?
          .link
            %a{href: post.link}= post.link

  - if show_summary
    .summary
      ~ markdown post.summary
      - if show_read_more
        %p
          %a{href: url_for(post)}= post.read_more.presence || settings.read_more
          →

  - if show_body
    ~ post.to_html

  %footer
    - if show_permalink
      %p.permalink
        %a{href: url_for(post)}= post.published_at.to_date
        - if admin_logged_in?
          &middot;
          %a{href: "/admin/edit/#{post.id}"} edit

    - if show_twitter
      .social_media_buttons
        - if show_twitter
          %a{ href: "https://twitter.com/share", class: "twitter-share-button", data: { via: settings.twitter_id } }
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
